* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
    width: 80%;
    border-radius: 15px;
}
.board {
    text-align: center;
    margin: 1.8em 0 1em;
    text-transform: uppercase;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
}

.card_one {
    background-color: slateblue;
    color: aliceblue;
    margin: 1em;
    padding: 2.5em 1em;
    text-align: center;
    border-radius: 10px;
}
.card_one h4 {
    margin: 0 0 0.6em;
}
.one {
    margin: 0 0 0.6em;
}
